.issue-coins-page {
  padding: 16px;

  .search-form-box {
    background: #fff;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
  }

  .table-content-box {
    background: #fff;
    padding: 16px;
    border-radius: 4px;

    .table-toolbar {
      margin-bottom: 16px;
    }

    .btns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 8px;

      button {
        flex: 1;
        margin: 5px;
      }
    }
  }
}
